<%- include('../Includes/header.ejs') %>

<style>
  .back-grad {
    background-image: linear-gradient(190deg, black 60%, white 40%);
    width: 100%;
  }
  h1 {
    color: white;
  }

  @media screen and (max-width: 786px) {
    h1 {
      color: black;
    }
    .back-grad {
      background-image: none;
      width: 100%;
    }
    .column-6 {
      width: auto;
    }
  }
</style>

<body>
  <%- include('../Includes/nav.ejs') %>
  <div class="back-grad">
    <h1
      style="
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 4%;
        padding-top: 20px;
      "
    >
      Dashboard
    </h1>
    <hr style="margin-left: 3%; margin-right: 3%" />
    <div class="row-fluid">
      <div
        class="column-6 popfile"
        align="center"
        id="p1"
        style="display: visible"
      >
        <h1 id="navhome" style="margin-bottom: 3%; margin-top: 3%">
          <span style="margin-right: 3%">My</span><span>PopFile</span>
        </h1>
        <img
          height="140px"
          style="border: 2px solid white; border-radius: 50%; margin-top: 1%"
          width="140px"
          src="/public/img/seat.png"
        />
        <h2 id="profname" style="margin-bottom: 5%; color: white">
          <span style="margin-right: 3%"><%=user.fname%></span
          ><span><%=user.lname%></span>
        </h2>
        <h3 id="profname">&#9794; <%=user.gender %></h3>
        <h3 id="profname">&#128222; <%=user.Phone%></h3>
        <h3 id="profname">&#x1F4E7; <%=user.Email%></h3>
        <button
          class="btn-curved red-text login"
          style="margin-bottom: 3%; margin-top: 3%"
          onclick="showUpdate()"
        >
          Update
        </button>
      </div>
      <div
        class="column-6 popfile"
        align="center"
        id="p2"
        style="display: none; margin-top: 6%"
      >
        <h1 id="navhome" style="margin-bottom: 3%; margin-top: 3%">
          <span style="margin-right: 3%; margin-bottom: 3%">Update</span
          ><span>PopFile</span>
        </h1>
        <form action="/user/update" method="POST">
          <label
            for="fname"
            style="font-size: medium; color: #b3b3b3; margin-bottom: 5%"
            >Email</label
          ><br />
          <input
            class="inp"
            type="email"
            name="email"
            value="<%= user.Email %>"
          /><br /><br />
          <label
            for="lname"
            style="font-size: medium; color: #b3b3b3; margin-bottom: 5%"
            >Phone</label
          ><br />
          <input
            class="inp"
            type="text"
            name="phone"
            value="<%= user.Phone %>"
          /><br /><br />
          <h3 style="margin-top: 8%; margin-bottom: 4%" align="center">
            <span
              class="btn-curved red-text login"
              style="font-size: small; background-color: honeydew"
              onclick="showProf()"
              >Back</span
            ><button class="btn-curved bg-red signup" onclick="showUpdate()">
              Update Profile
            </button>
          </h3>
        </form>
      </div>
      <div class="column-6 popfile" align="center">
        <h1 id="navhome">
          <span style="margin-right: 3%">Pop</span><span>Tickets</span>
        </h1>
        <nav>
          <ul style="padding: 0">
            <% for (x in ticket) {%>
            <li class="row card effect5">
              <div class="column-4 border-right content-card-2">
                <img src="/public/img/tickets.png" width="100%" />
                <h3 style="color: rgb(0, 0, 0)">
                  <%= new Date(ticket[x].dt).toDateString()%>
                </h3>
              </div>
              <div class="column-8 content-card-2">
                <h2
                  class="card-header"
                  style="color: rgb(0, 0, 0); font-size: 2em"
                >
                  <span style="color: red"><%= ticket[x].theaterName %></span> -
                  <span><%= ticket[x].movieName %></span>
                </h2>
                <div align="center">
                  <span
                    style="
                      color: rgb(0, 0, 0);
                      margin-right: 10%;
                      font-size: 1.3em;
                    "
                    >Amount : <%= ticket[x].amount %></span
                  >
                </div>
                <div align="center">
                  <span
                    style="
                      color: rgb(0, 0, 0);
                      margin-right: 10%;
                      font-size: 15px;
                    "
                    >Purchased on : <%= ticket[x].timeAndDateOfPurchase %></span
                  >
                </div>
                <div align="center">
                  <span
                    style="
                      color: rgb(0, 0, 0);
                      margin-right: 10%;
                      font-size: 15px;
                    "
                    >Location : <%= ticket[x].location %></span
                  >
                </div>
                <span style="font-size: 15px"
                  >Seat No :<%= ticket[x].seats_id %></span
                >
              </div>
            </li>
            <%}%>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <%- include('../Includes/footer.ejs') %>
</body>
