<%- include('../Includes/header.ejs') %>

<body>
  <%- include('../Includes/nav.ejs') %>
  <style type="text/css">
    @media screen and (max-width: 786px) {
      .modal-content {
        margin-top: -2rem;
        width: auto;
      }
      .input-text {
        min-width: auto;
        margin-left: 0;
      }
      .card-header {
        margin-left: 0;
      }
      .topright {
        right: 0;
      }

      .profimg {
        display: none;
      }
    }

    select,
    input {
      width: 80%;
    }

    .content {
      color: black;
    }
    .movie-card {
      padding: 10px;
      max-height: 450px;
      transition: 1s;
      overflow-y: hidden;
      border-radius: 25px;
      background-color: #fff;
      position: relative;
    }
    .movie-card:hover {
      max-height: 1000px;
    }
    body {
      background: #f12711;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #883333, #f12711);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #883333, #f12711);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari */
    }
    .topright {
      position: absolute;
      top: 8px;
      right: 16px;
      font-size: 18px;
      z-index: 20;
    }
    .delete-btn {
      background-color: #f00;
      color: white;
      font-weight: 900;
      font-size: 10px;
      padding: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 0px;
      outline: 0px;
      transition: 1s;
    }
    .delete-btn:hover {
      transform: rotate(360deg);
    }
    .movie-card-content {
      padding: 10px 30px 0px 30px;
    }
    .edit-btn {
      background-color: #2a3eb1;
      color: white;
      font-weight: 900;
      font-size: 10px;
      padding: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 0px;
      outline: 0px;
      margin-right: 10px;
      transition: 1s;
    }
    .edit-btn:hover {
      transform: rotate(360deg);
    }
    .btn-success {
      background-color: #3f51b5;
      color: white;
    }
    /* The Modal (background) */
    .modal-1 {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 25;
      /* Sit on top */
      padding-top: 100px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
    }
    /* The Close Button */
    .close-1 {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      margin-right: 20px;
      margin-top: 20px;
    }
    .close-1:hover,
    .close-1:focus {
      color: #f00;
      text-decoration: none;
      cursor: pointer;
    }
  </style>
  <div class="content row">
    <div class="content" style="padding-top: 0px">
      <div style="position: relative; margin: 30px">
        <div class="card-header" style="color: white">Now Showing:</div>
        <div class="topright" style="top: 0px; right: 0px">
          <button class="btn-curved btn-success" id="myBtn-1">Add Movie</button>
        </div>
      </div>
      <!-- ADD Movie Modal HERE -->
      <div id="myModal-1" class="modal-1">
        <form class="modal-content" action="/flix/add_show" method="POST">
          <span class="close-1" onclick="span1click()">&times;</span>
          <h1 style="margin-left: 3%; margin-right: 3%; color: white">
            ADD Show
          </h1>
          <hr style="margin-left: 3%; margin-right: 3%" />
          <div style="flex-direction: row; display: flex">
            <div class="container" style="flex: 3">
              <label for="name" class="hh" style="padding-left: 7%"
                ><b>Movie Name</b></label
              ><br />
              <select class="input-text" name="m_id">
                <option>Select Movie</option>
                <% for (x in movies) {%>
                <option value="<%= movies[x].m_id %>">
                  <%= movies[x].name %>
                </option>
                <% } %>
              </select>
              <br /><br />
              <label for="name" class="hh" style="padding-left: 7%"
                ><b>Set Show Time</b></label
              ><br />
              <select class="input-text" name="time">
                <option>No Slot Selected</option>
                <option value="10:00:00">10 A.M.</option>
                <option value="12:00:00">12 NOON</option>
                <option value="14:00:00">2 P.M.</option>
                <option value="16:00:00">4 P.M.</option>
                <option value="18:00:00">6 P.M.</option></select
              ><br /><br />
              <label for="name" class="hh" style="padding-left: 7%"
                ><b>Set Price</b></label
              ><br />
              <input
                type="text"
                class="input-text"
                style="margin-top: 8px"
                placeholder="Enter Price"
                name="price"
              /><br /><br />
              <label for="name" class="hh" style="padding-left: 7%"
                ><b>Set Weekend Price</b></label
              ><br />
              <input
                type="text"
                class="input-text"
                style="margin-top: 8px"
                placeholder="Enter Price"
                name="w_price"
              /><br /><br />
              <br /><br />
              <div class="clearfix">
                <button
                  type="submit"
                  class="btn-curved bg-red signup"
                  style="margin-left: 20%"
                >
                  ADD SHOW
                </button>
              </div>
            </div>
            <div style="flex: 2; margin-top: 2%" class="profimg">
              <img height="400px" src="/public/img/flixprof.png" />
            </div>
          </div>
        </form>
      </div>
      <!-- ADD Movie modal End -->
      <!-- Update Movie Modal HERE -->
      <div id="myModal-2" class="modal-1">
        <div class="modal-content-1">
          <form class="modal-content" action="/flix/edit_show" method="POST">
            <span class="close-1" onclick="span2click()">&times;</span>
            <h1 style="margin-left: 3%; margin-right: 3%; color: white">
              UPDATE Show
            </h1>
            <hr style="margin-left: 3%; margin-right: 3%" />
            <div style="flex-direction: row; display: flex">
              <div class="container" style="flex: 3">
                <label for="name" class="hh" style="padding-left: 7%"
                  ><b>Movie Name</b></label
                ><br />
                <select disabled class="input-text" id="m_name">
                  <% for (x in movies) {%>
                  <option value="<%= movies[x].m_id %>">
                    <%= movies[x].name %>
                  </option>
                  <% } %>
                </select>
                <br /><br />
                <label for="name" class="hh" style="padding-left: 7%"
                  ><b>Set Show Time</b></label
                ><br />
                <select class="input-text" name="time">
                  <option>No Slot Selected</option>
                  <option value="10:00:00">10 A.M.</option>
                  <option value="12:00:00">12 NOON</option>
                  <option value="14:00:00">2 P.M.</option>
                  <option value="16:00:00">4 P.M.</option>
                  <option value="18:00:00">6 P.M.</option></select
                ><br /><br />
                <label for="name" class="hh" style="padding-left: 7%"
                  ><b>Set Price</b></label
                ><br />
                <input
                  type="text"
                  class="input-text"
                  style="margin-top: 8px"
                  placeholder="Enter Price"
                  name="price"
                /><br /><br />
                <label for="name" class="hh" style="padding-left: 7%"
                  ><b>Set Weekend Price</b></label
                ><br />
                <input
                  type="text"
                  class="input-text"
                  style="margin-top: 8px"
                  placeholder="Enter Price"
                  name="w_price"
                /><br /><br />
                <br /><br />
                <div class="clearfix">
                  <button
                    type="submit"
                    class="btn-curved bg-red signup"
                    style="margin-left: 20%"
                  >
                    UPDATE SHOW
                  </button>
                </div>
              </div>
              <div style="flex: 2; margin-top: 2%" class="profimg">
                <img height="400px" src="/public/img/flixprof.png" />
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- Update Movie modal End -->
      <div class="row">
        <% if (theater_movies.length == 0) {%>

        <div
          style="
            height: 180px;
            width: 600px;
            background-color: crimson;
            text-align: center;
            margin: auto;
          "
        >
          <h1 align="center" style="color: white; padding-top: 7%">
            SORRY &#128533;
            <h1 style="color: wheat">No movies available</h1>
          </h1>
        </div>
        <% } else { %> <% for (x in theater_movies) { %>
        <div class="card movie-card column-4">
          <div class="topright">
            <button
              id="myBtn-2"
              class="edit-btn"
              onclick="showModal2('<%= theater_movies[x].m_id %>')"
            >
              &#9998;
            </button>
            <input
              type="hidden"
              id="movie-id"
              value="<%= theater_movies[x].m_id %>"
            />
            <a href="/flix/delete_show/<%= theater_movies[x].m_id %>">
              <button class="delete-btn">X</button>
            </a>
          </div>
          <div class="movie-card-content" align="center">
            <h2 class="card-header"><%= theater_movies[x].name %></h2>
            <img  style="border: 3px solid black"
              src="https://picsum.photos/220?random=<%= theater_movies[x].name%>"
              width="100%"
              height="100%"
            />
          </div>
          <br>
          <div class="movie-card-content" style="border: 3px solid black;border-radius: 5%;background-color:  #262626;color: blanchedalmond;">
            <div align="left">
             <span style="font-weight: bold;font-style: Righteous cursive; color: white;"> SHOWS :</span>
              <% for (i in theater_movies[x].slots) { %>
              <%= theater_movies[x].slots[i].slot %></a>
                ,<% } %>
            </div>
            <br />
            <span style="font-weight: bold;font-style: Righteous cursive; color: white;">LANGUAGE :</span> <%= theater_movies[x].language %> <br /><br />
            <span style="font-weight: bold;font-style: Righteous cursive; color: white;">RELEASE DATE : </span><%= theater_movies[x].release_date %> <br /><br />
            <span style="font-weight: bold;font-style: Righteous cursive; color: white;">ACTORS:</span>
            <% for (i in theater_movies[x].actors) { %>
							<a	style="color: black; margin-right: 3%;"
								href="https://www.imdb.com/search/name/?name=<%= theater_movies[x].actors[i].name %>"><%= theater_movies[x].actors[i].name %></a>
							, <% } %>
              <br><br />
              <span style="font-weight: bold;font-style: Righteous cursive; color: white;">DESCRIPTION.</span> Lorem ipsum cillum nostrud ullamco dolor est magna
              magna ut commodo fugiat enim ad ut. Magna sunt elit cupidatat esse
              duis ut sed est magna laboris est.
          
          </div>
        </div>
        <%if((x+1) % 3 == 0){%>
      </div>
      <div class="row">
        <%}%> <%if (x == theater_movies.length -1){%> <%for (let i = 0;i <
        3-((x+1)%3); ++i){%>
        <div class="column-4"></div>
        <%}%> <%}%> <% } %> <% } %>
      </div>
    </div>
  </div>
  <%- include('../Includes/footer.ejs') %>
</body>
<script>
  // Get the modal
  var modal = document.getElementById('myModal-1');
  // Get the button that opens the modal
  var btn = document.getElementById('myBtn-1');
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName('close-1')[0];
  // When the user clicks the button, open the modal
  btn.onclick = function () {
    modal.style.display = 'block';
  };
  // When the user clicks on <span> (x), close the modal
  function span1click() {
    modal.style.display = 'none';
  }
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = 'none';
    }
  };
  // Get the modal
  var modal2 = document.getElementById('myModal-2');

  // Get the button that opens the modal
  var btn2 = document.getElementById('myBtn-2');

  // Get the <span> element that closes the modal
  var span2 = document.getElementsByClassName('close-1')[0];

  // When the user clicks the button, open the modal
  function showModal2(name) {
    modal2.style.display = 'block';

    val = name;
    sel = document.getElementById('m_name');

    var opts = sel.options;
    for (var opt, j = 0; (opt = opts[j]); j++) {
      if (opt.value == name) {
        sel.selectedIndex = j;
        break;
      }
    }
  }

  // When the user clicks on <span> (x), close the modal
  function span2click() {
    modal2.style.display = 'none';
  }

  window.onclick = function (event) {
    if (event.target == modal2) {
      modal2.style.display = 'none';
    }
  };
  function getMovieId() {}
</script>
