<%- include('../Includes/header.ejs') %>
<body>
  <%- include('../Includes/nav.ejs') %>
  <div class="content steps">
    <div class="arrow bg-red">1</div>
    <span class="dir-line bg-red"></span>
    <div class="arrow bg-red">2</div>
    <span class="dir-line bg-red"></span>
    <div class="arrow bg-red">3</div>
    <span class="dir-line bg-red"></span>
    <div class="arrow bg-red">4</div>
  </div>

  <div class="content" align="center">
    <div class="ticket-frame" align="center" style="color: black;">
      <div class="card-header" style="border-bottom: 0px"><%=movie %></div>
      <div class="ticket-content" align="center"style="color: teal;">
        Seats: <b><%- seats%></b><br />
        Cinema Name: <b> <%- theater%> </b><br />
        Timing: <b> <%- slot%> </b><br />
        Date: <b> <%- date%></b><br />
      </div>
    </div>
    <a href="/user/profile"
      ><button class="btn-curved bg-red btn-book-now">
        View All Tickets
      </button></a
    >
  </div>
  <%- include('../Includes/footer.ejs') %>
  <script type="text/javascript">
    localStorage.removeItem('ticket');
  </script>
</body>
