<%- include('../Includes/header.ejs') %>

<body>
	<%- include('../Includes/nav.ejs') %>
	<div class="content">
		<form action="/user/book_flix/search" method="POST">
			<div class="row">
				<input type="search" placeholder="Enter Flix Name" id="searchmovie" class="input-text full-width"
					name="searchmovie">
				<select name="region" class="input-text">
					<option value="Region">Region</option>
					<%for (z in dropRegions){%>
					<option value="<%= dropRegions[z].Location%>">
						<%= dropRegions[z].Location%></option>
					<%}%>
				<!-- <option value="Mumbai South">Mumbai South</option>
				<option value="Mumbai North">Mumbai North</option>
				<option value="Mumbai East">Mumbai East</option>
				<option value="Vasai">Vasai</option>
				<option value="Thane">Thane</option>
				<option value="Others">Others</option> -->
			</select>
			<button type="submit" class="red-btn">Search</button>
		</div>
	</form>
		<% for (x in theaters) { %>

					<div class="row card">
						<div class="column-4 border-right content-card">
							<img src="/public/img/seat.png" width="80%">
						</div>
						<div class="column-8 content-card">
							<h2 class="card-header"> <%= theaters[x].name %></h2>
							Rating: <%= theaters[x].rating %><span> </span>&#9733; <br />
							Now Showing: <% for (y in theaters[x].movies) { %><a
								href="#"><%=theaters[x].movies[y].name%>
							</a>
							<br /><%}%>
				<p> &#127968;Location  : <%= theaters[x].location %></p>
							<div align="right">
								<button
										class="btn-curved btn-book-now"
										onclick="saveFlix('<%=theaters[x].t_id %>')">
										Book
										Now!
									</button>
							</div>
						</div>
					</div>
					<% } %>

			</div>
			<!-- F<ooter -->
			<div align="center" id="subscribe-news">
				<form>
					<b><label htmlfor="#email-sub"> Get the latest updates</label></b>
					<input type="email" minlength="5" maxlength="30" placeholder="Enter your Email" id="email-sub"
						class="input-text" name="email" required />
					<button type="submit" class="red-btn">Subscribe</button>
				</form>
			</div>
			<%- include('../Includes/footer.ejs') %>
			<!-- End of footer -->
			<script type="text/javascript">
				function saveFlix(id){
					let ticket = {
						movie_id : '',
						flix_id : id,
						seat_id : [],
						date: '',
						show_id: '',
						cost: ''
					}
					localStorage.setItem('ticket',JSON.stringify(ticket))
					window.location.href =`/user/select_movie/${id}`;
				}
			</script>
</body>

</html>