<%- include('../Includes/header.ejs') %>

<body>
	<%- include('../Includes/nav.ejs') %>
	<div class="content">
		<form action="/user/book_movie/search" method="POST">
			<div class="row">
				<input type="search" placeholder="Enter Movie Name" id="searchmovie" class="input-text full-width"
					name="searchMovie">
				<select name="lang" class="input-text">
					<option value="Language">Language</option>
					<% for (z in dropLanguage){%>
					<option value="<%= dropLanguage[z].LANGUAGE%>"><%= dropLanguage[z].LANGUAGE%></option>
					<%}%>
					<!-- <option value="English">English</option>
					<option value="Tamil">Tamil</option>
					<option value="Telugu">Telugu</option>
					<option value="Others">Others</option> -->
				</select>
				<select name="genre" class="input-text">
					<option value="Genre">Genre</option>
					<% for (z in dropGenre){%>

					<option value="<%= dropGenre[z].Genre%>"><%= dropGenre[z].Genre%></option>
					<%}%>

					<!-- <option value=" Drama">Drama</option>
					<option value="Romance">Romance</option>
					<option value="Comedy">Comedy</option>
					<option value="Thriller">Thriller</option>
					<option value="Suspence">Suspence</option> -->
				</select>
				<button type="submit" class="red-btn">Search</button>
			</div>
		</form>
		<% for (x in movies) { %>
					<div class="row card">
						<div class="column-4 border-right content-card">
							<img src="/public/img/seat.png" width="80%">
						</div>
						<div class="column-8 content-card">
							<h2 class="card-header"> <%= movies[x].name%></h2>
							<h3>Release date :<%=  movies[x].release_date%></h3>

							<h3>Language: <%= movies[x].language%></h3>
							Directed by: <a href="https://www.imdb.com/search/name/?name="> Director Name </a> <br />
							Actors: <a href="https://www.imdb.com/search/name/?name="> Actor Name #1 </a> , <a
								href="https://www.imdb.com/search/name/?name="> Actor Name #2 </a>
							<p> Description. Lorem ipsum cillum nostrud ullamco dolor est magna magna ut commodo fugiat
								enim ad ut.
								Magna sunt elit cupidatat esse duis ut sed est magna laboris est.</p>
							<div align="right">
								<a href="/user/select_flix/<%=movies[x].m_id%>"><button
										class="btn-curved btn-red btn-book-now">
										Book Now!
									</button></a>
							</div>
						</div>
					</div>
					<% } %>
			</div>
			<!-- F<ooter -->
			<div align=" center" id="subscribe-news">
				<form>
					<b><label htmlfor="#email-sub"> Get the latest updates</label></b>
					<input type="email" minlength="5" maxlength="30" placeholder="Enter your Email" id="email-sub"
						class="input-text" name="email" required />
					<button type="submit" class="red-btn">Subscribe</button>
				</form>
			</div>
			<%- include('../Includes/footer.ejs') %>
</body>

</html>