<%- include('../Includes/header.ejs') %> 
<style>
	.overlay{
		background-color: rgba(255,223,0,1);
  		background-blend-mode: multiply;
	}
</style>
<body>
<%- include('../Includes/nav.ejs') %> 
	<div class="content row">
		<div class="column-3">
			<div class="arrow bg-red">
				Select Movie
			</div>
		</div>
		<div class="column-3">
			<div class="arrow bg-red">
				Show Time
			</div>
		</div>
		<div class="column-3">
			<div class="arrow bg-red">
				Select Seat
			</div>
		</div>
		<div class="column-3">
			<div class="arrow silver-bg">
				Confirm Payment
			</div>
		</div>
	</div>
	<div align="center">
		<h2 class="card-header"> Select Your Seats </h2>
		<table border="1" cellspacing="10" cellpadding="0" id="seat-holder">
			<tbody id="Seats">
			</tbody>
		</table>
		<h3>
			Selected = <font color="#f00" id="seats_picked">0</font><br/>
			Total Cost = <font color="#f00" >Rs <font id="total_cost">0</font>/-</font>
		</h3>
		<a href="confirm_payment"><button class="btn-curved bg-red btn-book-now">Proceed to pay</button></a>
	</div>
	<script type="text/javascript">
	var res = <%- seats%>;
	const booked = <%- booked %>;
	var base_cost = <%- base_cost%>;
	ctr = Math.sqrt(res.length)
	seat_table = document.getElementById("Seats");
	var seat_content = "";
	for (var x = 0; x < ctr; x++) {
		seat_content += "<tr>";
		for (var y = 0; y < ctr; y++) {

			seat_content += "<td class = '"; // start of td
			 
			// Check if extra price
			if(res[x*ctr+y].seat_price != 0){
				seat_content += "overlay ";
			}

			// Check if booked
			if (booked.includes(res[x * ctr + y].s_id)) {
				seat_content += "occupied'>" ;
			} else {
				seat_content += "available' onclick='selectSeat(event," + (x * ctr + y)+ ")'>" ;
			}

			// End of td
			seat_content += res[x * ctr + y].s_id + "</td>";

		}
		seat_content += "</tr>";

	}
	seat_table.innerHTML = seat_content + "<tr> <td id='Screen' colspan='" + ctr + "'> Screen This Way</td> </tr>";
	var seats_selection = [];

	function selectSeat(evt, id) {
		
		if (seats_selection.includes(id)) {
			evt.srcElement.style.filter = "opacity(60%)";
			seats_selection = seats_selection.filter(function(value) { return value !== id; }); //Delete Seat
		} else {
			evt.srcElement.style.filter = "opacity(100%)";
			seats_selection.push(id);
		}

		document.getElementById('seats_picked').innerHTML = seats_selection.length;

		// Reduce doesn't work on empty array so extra check
		if(seats_selection.length == 0){
			document.getElementById('total_cost').innerHTML = "0";
		}else{
			document.getElementById('total_cost').innerHTML = seats_selection.map((_id)=>{return res[_id].seat_price+base_cost;}).reduce((a,b)=>{return a+b;});
		}
		
	}
	</script>
	<%- include('../Includes/footer.ejs') %> 
</body>

</html>