<%- include('../Includes/header.ejs') %> 
<body>
<%- include('../Includes/nav.ejs') %> 
	<div class="content row">
		<div class="column-3">
			<div class="arrow bg-red">
				Movie Name
			</div>
		</div>
		<div class="column-3">
			<div class="arrow bg-red">
				Show Time
			</div>
		</div>
		<div class="column-3">
			<div class="arrow silver-bg">
				Select Seat
			</div>
		</div>
		<div class="column-3">
			<div class="arrow silver-bg">
				Confirm Payment
			</div>
		</div>
	</div>
	<div class="content row">
		<div class="card bg-red time-block">
			<div class="card-header">
				Date and Time
			</div>
			<div class="content-card">
				<label>Date: </label>
				<input type="date" class="input-text" id="date"style="width: 220px;">
				<br /><br /><br />
				<label>Time: </label>
				<select class="input-text" id="slot" style="width: 280px;">
					<option>Time</option>
					<% for (x in shows) {%> 
					
					<option value="<%= shows[x].show_id %>"><%= shows[x].slot %></option>
					<%} %> 
				</select>
			</div>
			<div align="right"><button onclick="retrieve()" class="btn-curved btn-book-now" style="background-color: white !important;color: red">Proceed</button></div>
		</div>
	</div>
	<%- include('../Includes/footer.ejs') %> 
	<script>
		const retrieve = ()=>{
			let date=document.querySelector('#date').value;
			let show_id=document.querySelector('#slot').value;
			window.location.href=`/user/select_seat?date=${date}&show_id=${show_id}`;
		}
	</script>
</body>

</html>