<%- include('../Includes/header.ejs') %>

<body>
	<%- include('../Includes/nav.ejs') %>
	<div class="content row">
		<div class="column-3">
			<div class="arrow bg-red">
				Select Flix
			</div>
		</div>
		<div class="column-3">
			<div class="arrow silver-bg">
				Show Time
			</div>
		</div>
		<div class="column-3">
			<div class="arrow silver-bg">
				Select Seat
			</div>
		</div>
		<div class="column-3">
			<div class="arrow silver-bg">
				Confirm Payment
			</div>
		</div>
	</div>
	<div class="content">
		<% for (x in theater) { %>
		<div class="row card">
			<div class="column-4 border-right content-card">
				<img src="/public/img/seat.png" width="80%">
			</div>
			<div class="column-8 content-card">
				<h2 class="card-header"> <%= theater[x].name%></h2>
				Rating: <span><%= theater[x].rating%> </span>&#9733; <br />
				<p class="border">Now Showing: <% for (y in theater[x].movies) { %><a
						href="#"><br /><%=theater[x].movies[y].name%>
					</a>
					<%}%></p>

				<p class="border"><i class="fa fa-home" style="font-size:30px;color:red"></i> Address: <%= theater[x].location%>
				</p>
				<div align="right">
					<a href="/user/select_time?theater=<%=theater[x].t_id%>&movie=<%= movieId %>"><button class="btn-curved btn-book-now" onclick="saveFlix('<%=theater[x].t_id%>')"> Proceed </button>
				</div>
			</div>
		</div>
		<% } %>
	</div>
	<%- include('../Includes/footer.ejs') %>
	<script type="text/javascript">
		function saveFlix(id){
			let ticket = JSON.parse(localStorage.getItem('ticket'));
			ticket.flix_id = id;
			localStorage.setItem('ticket',JSON.stringify(ticket));
			window.location.href =`/user/select_time?theater=${ticket.flix_id}&movie=${ticket.movie_id}`;
		}
	</script>
</body>

</html>